@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/css/1.jpg" style="width:75%"/>
    <h1 class="display-4">Welcome</h1>
    <p>
        Welcome to the kayak rental website, at the beginning we encourage you to familiarize yourself with the available routes as well as upcoming events
        After getting to know each other, we invite you to create your customer and to make a reservation


    </p>
</div>
